.tooltip-inner {
    margin-top: 1em;
    margin-bottom: 1em;
}

.is-tooltip {
    margin: 5px 10px;
    max-width: 20em;
    background-color: $primary;
    border-radius: 0.25em;
    border-bottom-left-radius: 0;
    border: 1px solid rgba(0,0,0,0.7);
    text-align: left;

    .is-tooltip-image {
        padding: 0;
        line-height: 0;
        background-color: rgba($dark, 0.8);
    }

    .is-tooltip-title {
        background-color: rgba($dark, 0.6);
        padding: 0.1em;
        font-size: 130%;

        .skillKey {
            color: rgba(0,0,0,0.7);
        }

        .skillName {
            color: $primary;
            font-weight: bold;
        }
    }

    .is-tooltip-description {
        background-color: rgba($dark, 0.8);
        padding: 0.4em;
        font-size: 90%;

        li {
            list-style: none;
        }
    }
}
